body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}


section #main{
  position: relative;
  top: 100px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 272px;
  height: 92px;
  padding-top: 109px;
}